################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Phoneword/bin/Debug
/Phoneword/obj/Debug/android
/Phoneword/obj/Debug
